*{
    margin:0;
    
}
body{
    width: 1024px;
    margin:0 auto;
    border: 1px solid black;
}
header{     
    height: 210px;    
    padding: 12px 0px;
    border-bottom: 1px solid black;
    background-image: linear-gradient(#c62828,#212121);
}
header img{
    width: 210px;
    height: 210px;
    border-radius: 105px;
    background-color: white;
    margin-left: 55px;
}
nav{    
    width: 51%;
    float: right;
    padding: 10px 0px;    
    margin-right: 22px;
    margin-top: 67px;

}
nav ul li{
    display: inline-block;
    color: #ffffff;
    margin-left: 2%;
    font-size: 29px;

}
section{
    margin: 5% auto;
    width: 60%; 
}
section h1{
    color:#c62828;
    font-size: 35px;
}
main{    
    
    height: 500px;
}
footer{
    background-color: black;
    height: 100px;
    color: #ffffff;
}