<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ajocar</title>
</head>
<body>
<header th:replace="fragments/general.html :: header"></header>

<main>

    <section>
        <div class="row">
            <div class="col-lg-6">
                <h1><span th:text="${client.name}"></span></h1>
            </div>
            <div class="col-lg-6">
                <a th:href="@{'/client/' + ${client.id} }">Editar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Dados pessoais</h2>
                Telefone: <p th:text="${client.tel}"></p>
                Rua: <p th:text="${client.address.address}"></p>
                Número: <p th:text="${client.address.number}"></p>
                Bairro: <p th:text="${client.address.distric}"></p>
                Estado<p th:text="${client.address.state}"></p>
            </div>
            <div class="col-md-6">
                <h2>Carros cadastrados</h2>
                <div style="overflow-y: scroll; height: 135px;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Veiculo</th>
                            <th scope="col">Placa</th>
                            <th scope="col">Cor</th>
                            <th scope="col">Combustivel</th>
                            <th scope="col">Km</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="car : ${client.cars}">
                            <td th:text="${car.vehicle}"></td>
                            <td th:text="${car.board}"></td>
                            <td th:text="${car.color}"></td>
                            <td th:text="${car.fuel}"></td>
                            <td th:text="${car.kmActually}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Ordens de serviços cadastradas</h2>
                <div style="overflow-y: scroll; height: 135px;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Mão de obra</th>
                            <th scope="col">Valor total</th>
                            <th scope="col">Placa do carro</th>
                            <th scope="col"> Data de criação</th>
                            <th scope="col"> </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="service : ${client.serviceOrders}">
                            <td th:text="${service.serviceCost}"></td>
                            <td th:text="${service.totalWork}"></td>
                            <td th:text="${service.car.board}"></td>
                            <td th:text="${service.creatIn}"></td>
                            <td> <a th:href="@{'/serviceOrder/' + ${service.id} }">Editar</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </section>
</main>
<footer th:replace="fragments/general.html :: footer">
</footer>
</body>
</html>