<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ajocar</title>
    <style>

        /*#formHiden{

            display: none;
        }*/
    </style>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/client">Clientes</a>
            </li>
            <li>
                <a href="/serviceOrder"> Ordem de Serviços </a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <h1>Atualizar cliente</h1>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12">
                <form id="clientUpd" method="post" th:action="@{/client/update/{id}(id=${client.id})}
" th:object="${client}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="nomeCliente">Nome do cliente </label>
                                <input type="text" class="form-control" id="nomeCliente" required th:field="*{name}"
                                       placeholder="Nome do cliente">
                            </div>
                            <div class="form-group">
                                <label for="telCliente">Telefone do cliente </label>
                                <input type="tel" class="form-control" id="telCliente" required th:field="*{tel}"
                                       placeholder="telefone do cliente">
                            </div>
                            <div class="form-group">
                                <label for="ruaCliente">Rua </label>
                                <input type="text" class="form-control" id="ruaCliente" required
                                       th:field="*{address.address}" placeholder="Ex: av paulista">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="bairroCliente">Bairro</label>
                                <input type="text" class="form-control" id="bairroCliente" required
                                       th:field="*{address.distric}" placeholder="Ex: jardim lourdes">
                            </div>
                            <div class="form-group">
                                <label for="numCliente">Número</label>
                                <input type="text" class="form-control" id="numCliente" required
                                       th:field="*{address.number}" placeholder="Ex: 26">
                            </div>
                            <div class="form-group">
                                <label for="estaCliente">Estado</label>
                                <input type="text" class="form-control" id="estaCliente" required
                                       th:field="*{address.state}" placeholder="Ex: sao paulo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <span>Você deve adicionar pelo menos um carro ao cliente</span>
                            <div style="overflow-y: scroll; height: 129px;">
                                <table class="table" id="table">
                                    <tr>
                                        <th scope="col">Placa</th>
                                        <th scope="col">Combústivel</th>
                                        <th scope="col">Cor</th>
                                        <th scope="col">Km atual</th>
                                        <th scope="col">Veicúlo</th>
                                    </tr>
                                    <tbody id="dinamic-table-body">
                                    <tr class="cars" th:each="car : ${cars}">
                                        <td style="display: none"><input type="hidden" placeholder="idCarro" th:value="${car.id}"></td>
                                        <td><input class="form-control" required placeholder="placa" type="text"
                                                   th:value="${car.board}"/></td>
                                        <td><input class="form-control" required placeholder="combustivel" type="text"
                                                   th:value="${car.fuel}"/></td>
                                        <td><input class="form-control" required placeholder="cor" type="text"
                                                   th:value="${car.color}"/></td>
                                        <td><input class="form-control" required placeholder="km" type="number"
                                                   th:value="${car.kmActually}"></td>
                                        <td><input class="form-control" required placeholder="veiculo" type="text"
                                                   th:value="${car.vehicle}"></td>
                                        <td>
                                            <a href="javascript:;">Remover</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 pull-right">
                            <a href="javascript:;" class="btn btn-primary" style="float: right" onclick="addCar();">Adicionar
                                Carro</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success" value="Atualizar">
                            <a href="/">Cancelar</a>
                        </div>
                    </div>


                </form>
            </div>

        </div>


    </section>
</main>

<footer>
    <p>Desenvolvido por MAXTECH </p>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $( document ).ready(function() {
        var carsList = 0;
        $(".cars").each(function( index ) {
            $(this).find('td').find('input').each(function (index) {
                let place = $(this).attr("placeholder");
                switch(place){
                    case 'placa':
                        $(this).attr("name","cars["+carsList+"].board");
                        break;
                    case 'combustivel':
                        $(this).attr("name","cars["+carsList+"].fuel");
                        break;
                    case 'cor':
                        $(this).attr("name","cars["+carsList+"].color");
                        break;
                    case 'km':
                        $(this).attr("name","cars["+carsList+"].kmActually");
                        break;
                    case 'veiculo':
                        $(this).attr("name","cars["+carsList+"].vehicle");
                        break;
                    case 'idCarro':
                        $(this).attr("name","cars["+carsList+"].id");
                        break;
                }
            });
            carsList++;
        });

        console.log(carsList);

        function addCar() {
            $('#dinamic-table-body').append(' <tr class="cars" >\n' +
                '                                        <td><input class="form-control" type="text" name="cars[' + carsList + '].board"   id="board"  placeholder="placa" required /></td>\n' +
                '                                        <td><input class="form-control" type="text" name="cars[' + carsList + '].fuel"    id="fuel"   placeholder="combustivel" required  /></td>\n' +
                '                                        <td><input class="form-control" type="text" name="cars[' + carsList + '].color" id="color"  placeholder="cor"   required /></td>\n' +
                '                                        <td><input class="form-control" type="number" name="cars[' + carsList + '].kmActually" id="km" placeholder="km" required></td>\n' +
                '                                        <td><input class="form-control" type="text" name="cars[' + carsList + '].vehicle" id="vehicle"      placeholder="veiculo" required></td>\n' +
                '                                        <td>\n' +
                '                                            <a href="javascript:;">Remover</a>\n' +
                '                                        </td>\n' +
                '                                    </tr>');
            carsList++;
        }


        $('#dinamic-table-body').on('click', 'a', function () {
            if ($(".cars").length > 1) {
                carsList--;
            }
        });
    });
</script>
</body>
</html>