<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Ajocar</title>
</head>
<body>
<header th:replace="fragments/general.html :: header"></header>

<main>
        <section>
            <h1>O que você gostaria de fazer?</h1>
        </section>        
        <section>
            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Criar nova ordem de serviço</h5>
                          <p class="card-text">Aqui você pode criar uma ordem de serviço para um novo cliente ou um que já existe .</p>
                          <a th:href="@{'/redirectPage/newService'}" class="btn btn-primary">Clique aqui</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Cadastrar novo cliente</h5>
                          <p class="card-text">Aqui você pode cadastrar um cliente, e no menu clientes poderá alterar um já existente além de poder ver a lista de clientes</p>
                          <a th:href="@{'/client/new' }" class="btn btn-primary">Clique aqui</a>
                        </div>
                      </div>
                </div>         
            </div>
            
              
        </section>
    </main>
    <footer th:replace="fragments/general.html :: footer">
    </footer>
</body>
</html>