<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/style.css">
    <title>Ajocar</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/client" >Clientes</a>
            </li>
            <li>
                <a href="/serviceOrder"> Ordem de Serviços </a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <h1>Nova ordem de serviço para o cliente <span th:text="${nome}"></span> </h1>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12">
                <form id="AddService"   method="post" action="#">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="car">Escolha uma carro:</label>
                                <select id="car" class="custom-select">
                                    <option selected>Open this select menu</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12" >
                            <h5> Adicionar peças  </h5>
                            <div style="overflow-y: scroll; height: 129px;">
                                <table  class="table" border="1" width="100%">
                                    <thead>
                                        <tr>
                                            <td>QTD</td>
                                            <td>Nome</td>
                                            <td>Valor</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </thead>

                                    <tbody id="principal" >
                                        <tr >
                                            <td><input class="form-control qtd" placeholder="Ex: 1" value="1" name="qtd[]" type="text" /></td>
                                            <td><input class="form-control" placeholder="Ex: cilindro" value="" name="peca[]" type="text" /></td>
                                            <td><input class="form-control valorPeca" placeholder="Ex: 25,00" value="250,25" name="valor[]" type="text" /></td>
                                            <td>
                                                <a href="javascript:;">Remover</a>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                            <a href="javascript:;" onclick="addProduct();">Adicionar peça</a>
                        </div>
                        <div class="col-lg-12">
                            <label for="obs">Observações</label>
                            <textarea name="obs" id="obs" class="form-control">
                            </textarea>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="telCliente">Total de peças </label>
                                <input type="text" class="form-control" id="telCliente" required  name="price" readonly>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="maoDeObra">Mão de obra </label>
                                <input type="text" class="form-control" id="maoDeObra" required name="workCuster" placeholder="Ex: 25,00">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="total">Total a Pagar </label>
                                <input type="text" class="form-control" id="total" required name="total" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-primary" value="Salvar" >
                        </div>
                    </div>


                </form>
            </div>
        </div>


    </section>
</main>

<footer>
    <p>Desenvolvido por MAXTECH </p>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    function addProduct() {
        $('#principal').append('<tr>\n' +
            '                                    <td><input class="form-control" value="1" name="qtd[]" type="text" /></td>\n' +
            '                                    <td><input class="form-control" value="nome da peça" name="peca[]" type="text" /></td>\n' +
            '                                    <td><input class="form-control" value="250,25" name="valor[]" type="text" /></td>\n' +
            '                                    <td>\n' +
            '                                        <a href="javascript:;">Remover</a>\n' +
            '                                    </td>\n' +
            '                                </tr>');
    }

    $('#principal').on('click', 'a', function(){
        var td = $(this).parent();
        var tr = $(td).parent();

        tr.css('background', 'red');
        tr.find('input[type=text], select').attr('disabled', true);
        tr.hide();
    });


</script>
</body>
</html>